html {
  position: fixed;
  overflow:hidden;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr 10fr 1fr;
}

#main {
  overflow: hidden;
  grid-row: 2/3;
  cursor: default;
  touch-action: none;

  /* took some CSS from http://jigsaudio.com/explore/ to disable drag input */

  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#main canvas {
  width: 100%;
  height: 100%;
}

.footer{
  grid-row: 3/4;
  background-color: #999;

}
.menu {
  background-color: #999;
  color: #fff;
  grid-row:1/2;
  padding: 5px;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.menu ul li {
  padding: 5px 0;
}

.menu input, .menu button {
  text-align: center;
  width: 60px;
}

.menu button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 40px;
}

.menu label {
  display: block;
  font-size: 12px;
  margin-bottom: 3px;
  text-align:center;
}

.line {
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
  width:100%;
}
